-i = 0
-annees.each do |annee|
  -if ligne_valeurs[i] && ligne_valeurs[i].annee == annee then
    %td.montant=number_with_precision(ligne_valeurs[i].montant, options = {delimiter: " ", precision: 0})
    -if i == ligne_valeurs.count - 1
      -break
    -else
      -i += 1
  -else
    %td
