// Place all the styles related to the strategies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
article.direct_detail {
  overflow: auto;
}
table.direct_detail {
  width: auto;
  .description {
    width: 10rem;
  }
  .nature {
    width: 5rem;
  }
  .montant {
    width: 5rem;
    text-align: right;
  }
  .totaux {
    font-weight: bold;
    background: yellow;
  }
  td.totaux {
    width: 10em;
  }
  th.totaux {
    width: 10em;
  }
}
table.direct_somme {
  width: 50%;
  .nature {
    width: 15rem;
  }
  th.commentaire{
    text-align: left;
  }
  .montant {
    width: 10rem;
    text-align: right;
  }
}
