// Place all the styles related to the strategies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

table#cadre {
  .categorie {
    vertical-align: top;
    text-align: center;
    width: 12rem;
  }
  .repart {
    vertical-align: top;
    width: 10 rem;
    text-align: center;
  }
}
.unite {
  text-align: center;
}
table#somme {
  width: 60%;
  .nature {
    width: 20rem;
  }
}