// Place all the styles related to the strategies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

table#cadre {
  .categorie {
    vertical-align: top;
    text-align: center;
    width: 12rem;
  }
  .repart {
    vertical-align: top;
    width: 10 rem;
    text-align: center;
  }
}
.nature_ind {
  width: 16.5rem;
}
.unite {
  text-align: center;
  width: 5rem;
}
table#somme_ind {
  table-layout:fixed;
  width: 40%;
  .nature {
    width: 8rem;
    text-align: left;
  }
  .unite {
    width: 3rem;
  }
  .montant {
    width: 5rem;
    text-align: right;
  }
}
table#cadre_com2 {
  table-layout:fixed;
  width: 100%;
  th#repart {
    width: 20%;
    th.categorie {
      width: 3%;
    }
  }
  .commentaire {
    color: black;
  }
  th#commentaire1 {
    vertical-align: top;
    text-align: left;
  }
}