// Place all the styles related to the Projets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table#projets {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#projets th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#projets th.rien {
  border: 2px solid white;
  font-weight: bold;
  background-color: white;
}
table#projets table#etudes td {
  padding: 4px;
  text-align: left;
}
table#projets td.droit {
  padding: 4px;
  text-align: right;
}
table#projets th, td.centre {
  padding: 4px;
  text-align: center;
}
table#projets th.hilite {
  background-color: yellow;
}