// Place all the styles related to the strategies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
table#rentabilite {
  width: 50%;
  border: 2px solid blue;
  .titre_invest {
  }
  .titre_impact_si {
  }
  .titre_impact_metier {
  }
  th {
  width: 20%;
  border: 2px solid blue;
  }
  td {
  border: 2px solid blue;
  text-align: center;
  }
}
article#synthese {
  overflow: auto;
}
table#synthese {
  table-layout: fixed;
  .description {
    width: 30rem;
  }
  .montant {
    width: 5rem;
    text-align: right;
  }
  .totaux {
    font-weight: bold;
    background: yellow;
    width: 5rem;
  }
  th.annee {
    width: 5rem;
  }
  td.totaux {
    width: 5rem;
    text-align: right;
  }
}
#centre {
    text-align: center;
}